<h2 mat-dialog-title *ngIf="item">Edit Food Category</h2>
<h2 mat-dialog-title *ngIf="restaurantId">Add Food Category</h2>
<mat-dialog-content>
  <form [formGroup]="categoryForm" class="p-2">
    <div class="usr_profile_inrmain">
      <div class="row">
        <div class="col-12">
          <div class="usr_profile_biodata">
            <label>Food Category</label>
            <div class="input-group">
              <input class="form-control" type="text" name="name" formControlName="name" />
            </div>
            <div *ngIf="submitted && categoryForm.controls.name.errors" class="invalid-feedback">
              <div *ngIf="categoryForm.controls.name.errors.required">
                Food Category is required
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-6">
          <div class="usr_profile_biodata">
            <label>فئة الغذاء</label>
            <div class="input-group">
              <input class="form-control" type="text" name="" formControlName="name_ar" />
            </div>
            <div *ngIf="submitted && categoryForm.controls.name.errors" class="invalid-feedback">
              <div *ngIf="categoryForm.controls.name.errors.required">
                Food Category is required
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn btn-primary mr-3" *ngIf="!item" (click)="onSubmit()">
    Add Category
  </button>
  <button class="btn btn-primary mr-3" *ngIf="item" (click)="onUpdate()">
    Edit Category
  </button>
  <button class="btn btn-danger" (click)="close()">Close</button>
</mat-dialog-actions>